@import url('https://fonts.googleapis.com/css?family=Questrial|Staatliches');


body {
  background: url('../images/fondo.jpg');
  color: #fff;
  font-family: 'Questrial', sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

#enlace {
  color: purple;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.parrafo {
  text-align: right;
}

.foto {
  /* float: right */
}

.text-center {
  text-align: center;
}
h2 {

    font-family: 'Staatliches', cursive;

}

h1{
  text-align: center;
}
.col-1 {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
